<div class="card auth-card">
  <div class="card-header">
    <h2>Profile Update</h2>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3 form-group">
        <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="mb-3 form-group">
        <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "new-password" %>
        <i>(Leave blank if you don't want to change it)</i>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>

      <div class="mb-3 form-group">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation", autocomplete: "new-password" %>
      </div>

      <div class="mb-3 form-group">
        <%= f.password_field :current_password, class: "form-control", placeholder: "Current Password", autocomplete: "current-password" %>
      </div>

      <div class="mb-3 actions">
        <%= f.submit "Update", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>

<br/>

<div class="card auth-card">
  <div class="card-header">
    <h3>Remove user account</h3>
  </div>
  <div class="card-body">
    <div>
      <p>Do you want to remove your account?</p>
      <%= button_to "Remove", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>
